<!-- nav -->
<nav class="navbar navbar-expand navbar-dark bg-dark" *ngIf="currentUser">
    <div class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/">Home</a>
        <a class="nav-item nav-link" routerLink="/courses">Courses</a>
        <a class="nav-item nav-link" routerLink="/feature">Features</a>
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Dropdown link
            </a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="#">Link 1</a>
              <a class="dropdown-item" href="#">Link 2</a>
              <a class="dropdown-item" href="#">Link 3</a>
            </div>
          </li>
        <a class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
              Account
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item">Edit Profile</a>
                <a class="dropdown-item" (click)="logout()">Logout</a>              
            </div>
        </a>
    </div>
</nav>




<!-- main app container -->
<div class="container-fluid">
    <router-outlet></router-outlet>
</div>