.coverpic{
    background-image: url('https://wallpaperaccess.com/full/279547.jpg');
    background-position: right;
    background-size: cover;
    width: 100%;
    height: 100vh;
    padding: 0px;
}
.overlay{
    width: 100%;
    height:100vh;
    opacity: 0.7;
    padding: 0px;
    margin: 0px;
    background-color: black;
}
.row, .col-md-12{
    margin: 0px;
    padding: 0px;
    background-color: black;
}
.card-bg{
    background-color: black;
}
.card{
    margin: 20% 10%;
}
.text{
    font-size: 100px;
    margin-left: 20px;
    z-index: 999;
    opacity: 1;
    .maq-text{
        color:white;
    }
    .software-text{
        color: grey;
    }
}
